
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.vsconfig
# Ignore Visual Studio files
.vscode/
.vs/
*.vsconfig

# Ignore JetBrains IDE files
.idea/
*.iml
*.DotSettings.user

# Ignore Unreal Engine build files
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Ignore project-specific settings
*.sln
*.suo
*.user
*.userosscache
*.userprefs

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore temporary files
*.tmp

# Ignore build directory
Build/

# Ignore packaged builds
Antibiosis/

game+ue_tips.txt